
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-image: url('./Todo\　Clear.png'); /* 画像のパスを指定 */
  background-size: 50%; /* 画像のサイズを調整 */
  background-position: center; /* 画像の位置を中央に */
  align-items: center;/* 垂直方向の中央揃え */
}

#root{
  position: absolute;  
  background-color: black;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */

  /*height: 100vh;*/ /* ビューポートの高さ全体を使用 */
  /*background-image: url('./todo.png'); /* 画像のパスを指定 */
  /*background-size: cover; /* 画像のサイズを調整 */
  /*background-position: center; /* 画像の位置を中央に */
  /*align-items: center;/* 垂直方向の中央揃え */
}


h1 {
  color: #fdc33c;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

button {
  height: 25px;
  cursor: pointer;
  }

ul,li {
  display: block;
  font-size: 1.25em;
}

form {
  padding-top: 20px;
}